.searchbar #search_suggestions,
.searchbar * {
  color: black;
}

.searchbar .MuiInputBase-root {
  background-color: #EFEFEF;
  border-radius: 2ex;
  padding-inline-start: 1ex;
  padding-inline-end: 1ex;
}

.searchbar #search_suggestions-label {
  color: white;
}

.searchbar *::selection {
  color: white;
  background-color: #434343;
}
