.allcryptos {
  padding: 2em;
  background-color: white;
  width: 100%;
}

.allcryptos h1 {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  padding: 1.5ex 1.5ex;
}

.allcryptos h2 {
  width: 100%;
}

.allcryptos .icon {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.allcryptos .label {
  margin-bottom: 3.5ex;
  margin-top: 1ex;
  max-height: 3ex;
  overflow: hidden;
  font-weight: bold;
  text-align:center;
}

.allcryptos .list-inline-item,
.allcryptos .list-inline-item:not(:last-child) {
  margin: 0;
}

.allcryptos .pagination {
  color: #adadad;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: auto;
  margin-right: auto;
}

.allcryptos .pagination a {
  text-decoration: none;
}

