.myaccount {
  padding: 2em;
  background-color: white;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  padding: 1.5ex 1.5ex;
}

h2 {
  width: 100%;
}

.form-control {
  width: 90%;
  max-width: 60ex;
}

#myaccount_tooltip_update_error {
  color: white;
  background-color: #700d0d;
}

#myaccount_tooltip_update_ok {
  color: white;
  background-color: #0d700d;
}


